<%= form_for(@score_template) do |f| %>
  <% if @score_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_template.errors.count, "error") %> prohibited this score_template from being saved:</h2>

      <ul>
      <% @score_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="fields">
    <%= f.fields_for :questions do |builder| %>
      <%= render :partial => 'questions/question_fields', :locals => { :f => builder } %>
    <% end %>
  </div>

  <div class='fields'>
    <div><%= link_to_add_fields "Add another question", f, :questions %></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
