<div data-role="header">Judges for <%= event.name %></div>
<% judges = Judge.for_event(event) %>
<div data-role="collapsible-set" data-theme="a" data-content-theme="c" data-inset="true">
  <% judges.each do |judge| %>
    <div data-role="collapsible">
    	<h2><%= judge.name %></h2>
    	<!--= render "score_sheets/sheet",
          :event => event,
          :competitor => competitor,
          :judge => judge  -->
        <ul data-role="listview">
          <li data-icon="info"><%= link_to "Show and update this Judge's details", event_coordinator_event_judge_path(event.event_coordinator, event, judge) %></li>
          <li data-icon="gear"><%= link_to "Edit the Judge's name", edit_event_coordinator_event_judge_path(event.event_coordinator, event, judge) %></li>
          <li data-icon="delete"><%= link_to 'Remove this judge from the event', event_coordinator_event_judge_path(event.event_coordinator, event, judge), confirm: 'Are you sure you want to remove this judge?', method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>