<% provide(:title, 'Judge Profile') %>
<div class="container">
	<center><p id="notice"><%= notice %></p>
		<h1> Welcome to your profile page, <%= @judge.name %>!</h1>
		<h3>Personal information:</h3>
		<p>
			<b>Name:</b>
			<%= @judge.name %>
			<br />
			<b>Email:</b>
			<%= @judge.email %>
			<br />
			<%= link_to 'Edit your credentials', edit_judge_path(@judge) %>
			<br /><br />
			<b>You are judging the:</b>
			<%= @judge.event.name %>	
		</p>

		<div class="container">
			<%= render :partial => 'competitors/judge_index', :locals => {:event => @judge.event } %>
		</div>

		<!-- <div class="container">
			<= render :partial => 'competitors/index', :locals => {:judge => @judge } %>
		</div>-->
</div>
