<div class="container">
  <center><h1>Sign in</h1></center>

  <div class="row">
    <div class="span6 offset3">
      <%= form_for(:coordinatorsession, url: coordinatorsessions_path) do |f| %>

        <%= f.text_field :email, :placeholder => "Email" %>

        <%= f.password_field :password, :placeholder => "Password" %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up as an Event Coordinator", signupcoordinator_path %></p>
    </div>
  </div>
</div>