<% provide(:title, 'Event') %>
<center><p id="notice"><%= notice %></p>
<h1>Welcome to the event page!</h1>
<p>
  <b>Name:</b>
  <%= @event.name %>
  <br>
  <b>Event Coordinator:</b>
  <%= @event.event_coordinator.name rescue 'Unknown' %>
  <br><br>
  <%= link_to 'Create a score template for this event', '#' %>
  <!--%= link_to 'Create a score template for this event', new_event_coordinator_event_score_template_path(@event) -->
</p>

<%= link_to 'Edit', edit_event_coordinator_event_path(@event) %> |
<%= link_to 'Back', event_coordinator_events_path(@event.event_coordinator, @event) %></center>
