<% provide(:title, 'Event') %>
<center><p id="notice"><%= notice %></p>
<h1>Welcome to the event page!</h1>
<p>
  <b>Name:</b>
  <%= @event.name %>
  <br>
  <b>Event Coordinator:</b>
  <%= @event.event_coordinator.name rescue 'Unknown' %>

  <br>
  <div id="competitors">
    <%= render :partial => 'competitors/index', :locals => {:event => @event } %></center>
  </div>
  <%= link_to 'Create and add a new competitor', new_event_coordinator_event_competitor_path(@event.event_coordinator, @event), id: "new_link" %>
  <br><br>
  <center><%= render :partial => 'judges/index', :locals => {:event => @event } %></center>
  <%= link_to 'Create and assign a judge', new_event_coordinator_event_judge_path(@event.event_coordinator, @event) %>
  <br><br>
  <center><%= render :partial => 'score_templates/index', :locals => {:event => @event } %></center>
  <% if @event.score_template.nil? %> 
    <%= link_to 'Create a score template', new_event_coordinator_event_score_template_path(@event.event_coordinator, @event) %>
  <% end %>
  <br>
</p>
<center><% if @event.score_sheet.nil? %>
  <%= link_to 'Check event results', results_event_path(@event) %>
<% end %>

<%= link_to 'Edit', edit_event_coordinator_event_path(@event) %> |
<%= link_to 'Back', event_coordinator_events_path(@event.event_coordinator, @event) %></center>
