<div class="container">
  <%= form_for(@event_coordinator) do |f| %>
    <% if @event_coordinator.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event_coordinator.errors.count, "error") %> prohibited this event_coordinator from being saved:</h2>

        <ul>
        <% @event_coordinator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>

  	<%= f.label :email %>
        <%= f.text_field :email %>

   <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
