<!DOCTYPE html>
<html>
  <head>
    <title>Event Application | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <div data-role="navbar">
    
</div><!-- /navbar -->
  <body>
    <div class="container">
      <div data-role="header">
        <h1><%= link_to "event app", '#', id: "logo" %></h1>
        <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
        <div data-role="navbar">
          <ul>
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Help", 	help_path %></li>
            <% if signed_in? %>
	            <li><%= link_to "Event Coordinators", '#' %></li>
              
		        <% else %>
		            <li><%= link_to "Sign in", coordinatorsignin_path %></li>
		        <% end %>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /header -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

