<!DOCTYPE html>
<html>
<head>
	<title>Event Application | <%= yield(:title) %></title>
	<%= stylesheet_link_tag	   "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
  <body>
  	<div class="container">
  		<div data-role="header">
  			<h1><img src="/assets/judgment.png" /></h1>
  			<% if coordinator_signed_in? || judge_signed_in? %>
          <a href='#popupMenu' data-rel="popup" data-role="button" data-inline="true" data-transition="slideup" data-icon="gear">Actions</a>
          <div data-role="popup" id="popupMenu" data-theme="a" class="ui-popup ui-body-a ui-overlay-shadow ui-corner-all" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
            <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
              <li data-role="divider" data-theme="a" class="ui-li ui-li-static ui-btn-up-a ui-corner-top">Choose an action</li>
              <% if coordinator_signed_in? %>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-hover-b ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Coordinator Profile", current_coordinator, class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-li-last ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Settings", edit_event_coordinator_path(current_coordinator), class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Sign out Coordinator", coordinatorsignout_path, method: "delete", class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
              <% elsif judge_signed_in? %>
                    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-li-last ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Judge Profile", current_judge, class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
                    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-li-last ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Settings", edit_judge_path(current_judge), class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
                    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom ui-li-last ui-btn-up-b"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><%= link_to "Sign out Judge", judgesignout_path, method: "delete", class: "ui-link-inherit" %></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
              <% end %>
            </ul>
          </div>
        <% end %>
  			<div data-role="navbar">
  				<ul>
  					<li><% if coordinator_signed_in? %>
                  <%= link_to "Home",	current_coordinator %>
				        <% elsif judge_signed_in? %>
				          <%= link_to "Home",	current_judge %>
                <% else %>
                  <%= link_to "Home", root_path %>
                <% end %>
            </li>
  					<li><%= link_to "Help",		help_path %></li>
  					<% if coordinator_signed_in? %>
  					  <li><%= link_to "Current Event Coordinator", current_coordinator %></li>
              <li><%= link_to "Sign out Coordinator", coordinatorsignout_path, method: "delete" %></li>
  					<% elsif judge_signed_in? %>
  					  <li><%= link_to "Current Judge", current_judge %></li>
              <li><%= link_to "Sign out Judge", judgesignout_path, method: "delete" %></li>
  					<% else %>
  					  <li><%= link_to "Sign in Coordinator", coordinatorsignin_path %></li>
              <li><%= link_to "Sign in Judge", judgesignin_path %></li>
  					<% end %>
  				</ul>
  		  </div><!-- /navbar -->
  	</div><!-- /header -->
  	<div class="container">
  	 <%= yield %>
    </div>
  </body>
  <center><div id="footer" data-position="fixed"> 
      <h6>&#169; 2013 ~-~ Dylan Ethen and Joe Budin ~-~ Thank you for using our event-application!</h6> 
  </div></center>
</html>
